<form action="/teste" method="POST">
    <label for="">Usuário:</label>
    <input type="text" name="usuario" id="usuario" placeholder="Seu nome" required>
    <label for="">idade:</label>
    <input type="number" name="idade" id="idade" min="10" max="100" placeholder="Sua idade" style="width: 100px;"
        required>
    <button type="submit">enviar</button>
    <input type="reset" value="Limpar">
</form>
<hr>
<div style="display: flex;">
    <a href="/puxarInformacao">
        <button>Ver todos os clientes</button>
    </a>
</div>
